<div class="user-detail f-form-container">
    <div class="f-form-row">
<div class="f-form-group">
<div class="f-form-title">创建时间</div>
<div class="f-form-cont"><ko-textbox params="{options: createTimeOpt }" ></ko-textbox></div>
</div>
</div>
<div class="f-form-row">
<div class="f-form-group">
<div class="f-form-title">流水号</div>
<div class="f-form-cont"><ko-textbox params="{options: idOpt }" ></ko-textbox></div>
</div>
</div>
<div class="f-form-row">
<div class="f-form-group">
<div class="f-form-title">是否启用</div>
<div class="f-form-cont"><ko-textbox params="{options: isUseOpt }" ></ko-textbox></div>
</div>
</div>
<div class="f-form-row">
<div class="f-form-group">
<div class="f-form-title">排序号</div>
<div class="f-form-cont"><ko-textbox params="{options: orderNumOpt }" ></ko-textbox></div>
</div>
</div>
<div class="f-form-row">
<div class="f-form-group">
<div class="f-form-title">工种名称</div>
<div class="f-form-cont"><ko-textbox params="{options: workNameOpt }" ></ko-textbox></div>
</div>
</div>
<div class="f-form-row">
<div class="f-form-group">
<div class="f-form-title">工种类型：1：特殊工种</div>
<div class="f-form-cont"><ko-textbox params="{options: workTypeOpt }" ></ko-textbox></div>
</div>
</div>

    <!-- ko ifnot:isEntityNull() -->
    <div class="f-form-row button-group">
        <button type="button" class="f-btn f-btn-primary-norm" data-bind="click:onApply" >确定</button>
        <!-- ko if:showDelete() -->
        <button type="button" class="f-btn f-btn-aux-level02" data-bind="click:onDelete">放弃</button>
        <!-- /ko -->
        <!-- ko ifnot:showDelete() -->
        <button type="button" class="f-btn f-btn-aux-level02" data-bind="click:onRemoteDelete">删除</button>
        <!-- /ko -->
    </div>
    <!-- /ko -->
</div>