<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%= htmlWebpackPlugin.options.title%></title>
    <link rel="stylesheet" href="/static/front-framework/css/main.css" />
    <link rel="stylesheet" href="/static/lib/themes/metro/easyui.css" />
    <link rel="stylesheet" href="/static/lib/themes/icon.css" />
	
  </head>
  <body>
    <div id="app">
      <ocm-login></ocm-login>
      <ko-dialogs id="dialogs"></ko-dialogs>
      <ko-messager id="messager"></ko-messager>
    </div>
    <script src="/static/lib/jquery.min.js"></script>
    <script src="/static/lib/jquery.easyui.min.js"></script>
    <script src="/static/lib/locale/easyui-lang-zh_CN.js"></script>
    <script src="/static/lib/knockout-3.5.0.js"></script>
    <script src="/static/lib/ko-easyui/koeasyui.js"></script>
    <script src="/static/lib/komapping/knockout.mapping.js"></script>
    <script src="/static/lib/jquery-extend/jquery.form.js"></script>
    <script src="/static/lib/lodash.min.js"></script>
  </body>
</html>
