<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FreeSql" version="0.11.20" targetFramework="net45" />
  <package id="FreeSql.DbContext" version="0.11.20" targetFramework="net45" />
  <package id="FreeSql.Provider.SqlServer" version="0.11.20" targetFramework="net45" />
  <package id="SafeObjectPool" version="2.1.6" targetFramework="net45" />
  <package id="SAM.Framework" version="1.0.0-alpha" targetFramework="net45" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net45" />
</packages>